.myPic {
    margin-right: 1%;
    width: 25%;
}
.col-2 {
    
}
.col-8 {
    margin-top: 2%;
    margin-bottom: 2%;
}
body {
    background-color: whitesmoke;
}
h1 {
    background-color: #4aaaa5;
    color: white;
}
.footerColor {
    background-color: #4aaaa5;

}
