.myPic {
    margin-right: 1%;
}
.col-2 {
    background-color: lightgray;
}
.col-8 {
    margin-top: 2%;
    margin-bottom: 2%;
}
h1 {
    background-color: #4aaaa5;
}
.footerColor {
    background-color: #4aaaa5;

}
